* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #ffffff, #3b3a3b);
    padding: 10px;
}
.todo {
    width: 100%;
    max-width: 540px;
    background:#edeef0;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2 {
    color: rgb(56, 3, 84);
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 25px;
}

#addBtn {
    border: none;
    outline: none;
    padding: 5px 15px;
    background: rgb(5, 5, 5);
    color: #ffffff;
    border-radius: 20px;
}
#addBtn:hover {
    background: rgb(54, 54, 54);
}
ul li {
    list-style-type: none;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #b8abab;
    line-height: 40px;
    text-align: center;    
}

ul li:hover{
    background: #edeef0;

}   

ul li.checked {
    background: #3b3a3b;
    color: #ffffff;
    text-decoration:line-through
}
li {
    position: relative;
    padding: 5px 2px 2px 14px;
    font-size: 18px;
    background:rgb(175, 175, 175);
    color: rgb(54, 54, 54);
}
#clearBtn {
    position: relative;
    padding: 5px 20px;
    margin-top: 10px;
    border: none;
    outline: none;
    background: red;
    color: #ffffff;
    border-radius: 20px;
}
#clearBtn:hover {
    background: darkred;
}



